* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 500px;
}

h1 {
  text-align: center;
}
